extends layout

block content
  div(class="no-overflow")
    div(class="nav-bar")
      div(class="nav-bar-content")
        span DiabetesJS
        span(id="welcome-text") Welcome, #{firstName}
        span(class="logout-btn") Logout
    div(class="container")
      div(class="card")
          div(class="text-left padding15 margin-bottom negative-margin-top negative-margin-lr background-color")
            h4(class="card-header")
              b Add An Entry   
          div(class="wrapper")
            div
              label(for="category") Category
              select(name="category" class="margin-right" id="category-input")
                option(value="bgl") Blood Glucose Level
                option(value="diet") Diet
                option(value="exercise") Exercise
                option(value="medication") Medication
            div
              label(for="entry") Entry
              input(type="text" class="margin-right" name="entry" id="entry-input")
            div
              label(for="time") When
              input(type="text" class="small-width1" name="time" placeholder="mm/dd/yyyy" id="date-input")
              input(type="text" class="small-width2" name="" placeholder="hh:mm" id="time-input")
            div
              input(type="submit" class="four" value="Add" id="add-entry-btn")
      form(class="button-style card margin-top padding-top text-center" method="get" onsubmit="beforeSubmit()" action="/entries" id="history-form")
        div(class="text-center")
          div(class="text-left padding15 margin-bottom negative-margin-lr negative-margin-top background-color")
            h4(class="card-header")
              b View Your History
        input(type="hidden", name="firstname" value=firstName id="user-name-input")
        input(type="hidden", name="uid" value="" id="user-id-input")
        label(for="from") From 
        input(type="text" class="small-width1" name="fromdate" value=fromDate placeholder="mm/dd/yyyy" id="date-input")
        input(type="text" class="small-width2 margin-right" name="fromtime" value=fromTime placeholder="hh:mm" id="time-input")
        label(for="to") To 
        input(type="text" class="small-width1" name="todate" value=toDate placeholder="mm/dd/yyyy" id="date-input")
        input(type="text" class="small-width2" name="totime" value=toTime placeholder="hh:mm" id="time-input")
        input(type="submit" value="Filter")
        div(class="mini-card-wrapper")
          div(class="card half-width margin-top text-left")
              h4(class="card-header")
                b Blood Glucose Level 
                small &nbsp; Mean: #{4} Variance: #{5}
              table(cellpadding="5")
                thead
                  th 
                    i Date
                  th 
                    i Entry
                tbody
                  each val in bgl
                    tr
                      td(class="width25") #{`${val.dateTime.substring(4,6)}/${val.dateTime.substring(6,8)}/${val.dateTime.substring(0,4)} ${val.dateTime.substring(8,10)}:${val.dateTime.substring(10,12)}`}
                      td(class="width75") #{val.entry}                  
          div(class="card half-width margin-top text-left")
              h4(class="card-header")
                b Diet
              table(cellpadding="5")
                thead
                  th
                    i Date
                  th
                    i Entry
                tbody
                  each val in diet
                    tr
                      td(class="width25") #{`${val.dateTime.substring(4,6)}/${val.dateTime.substring(6,8)}/${val.dateTime.substring(0,4)} ${val.dateTime.substring(8,10)}:${val.dateTime.substring(10,12)}`}
                      td(class="width75") #{val.entry}     
          div(class="card half-width margin-top text-left")
              h4(class="card-header")
                b Exercise
              table(cellpadding="5")
                thead
                  th 
                    i Date
                  th 
                    i Entry
                tbody
                  each val in exercise
                    tr
                      td(class="width25") #{`${val.dateTime.substring(4,6)}/${val.dateTime.substring(6,8)}/${val.dateTime.substring(0,4)} ${val.dateTime.substring(8,10)}:${val.dateTime.substring(10,12)}`}
                      td(class="width75") #{val.entry}     
          div(class="card half-width margin-top text-left")
              h4(class="card-header")
                b Medication
              table(cellpadding="5")
                thead
                  th 
                    i Date
                  th 
                    i Entry
                tbody
                  each val in medication
                    tr
                      td(class="width25") #{`${val.dateTime.substring(4,6)}/${val.dateTime.substring(6,8)}/${val.dateTime.substring(0,4)} ${val.dateTime.substring(8,10)}:${val.dateTime.substring(10,12)}`}
                      td(class="width75") #{val.entry}
    script(src='/javascripts/home.js')